.no-data-available {
    text-align: center;
}

.table{
    text-align: center;

}

a{
    width: 80px;
}

.btn{

    margin-left: 10px;
    margin-top: 40px;

}
.botones{
    width: 200px;
}
.card{
    margin-top: 10px;
    padding-top: 100px;
    width: 40%;
    left: 400px;
    background-color:rgb(249, 233, 239);
}

/* mat-checkbox{
    display: block;
} */

h3{
    text-align: center;
    font-family: 'Lucida Sans', Arial, sans-serif;
}
footer{
   font-family: 'Times New Roman', Times, serif;
   position: absolute;
   bottom: -20;
   left: 600px;
   font-size: larger;
}

